$font-heading: "Fraunces", "Arial", sans-serif;
$font-body: "Barlow", "Arial", sans-serif;
$grey: #83888f;
$dark-grey: #333d4b;
$dark-cyan: #0e8784;
$pale-orange: #fdd6ba;
$light-cream: #fefcf7;
$transition: 0.25s ease;