.footer .container {
    margin-bottom: 88px;
}

.footer__inner {
    display: flex;
    align-items: center;
    padding: 47px 85px;
    background-color: $dark-grey;
}

.footer__logo {
    margin-right: 100px;
}

.footer .nav {
    margin-right: auto;

    .nav__link {
        &:hover {
            color: $light-cream;
        }

        &--active {
            color: $light-cream;
        }
    }
}

@media(max-width:1050px) {
    .footer__inner {
        justify-content: space-between;
    }

    .footer__logo {
        margin-right: 0;
    }

    .footer .nav {
        margin-right: 0;
    }
}

@media (max-width:950px) {
    .footer__inner {
        padding: 47px 30px;
    }

    .footer .nav__item + .nav__item {
        margin-left: 16px;
    }
}

@media(max-width:768px) {
    .footer .container {
        margin-bottom: 72px;
    }

    .footer__inner {
        flex-direction: column;
        padding: 54px 30px;
    }

    .footer__logo {
        margin-bottom: 32px;
    }

    .footer .nav {
        margin-bottom: 65px;
    }

    .footer .nav__item + .nav__item {
        margin-left: 32px;
    }
}

@media(max-width:425px) {
    .footer__logo {
        margin-bottom: 50px;
    }

    .footer .nav {
        margin-bottom: 50px;
    }

    .footer .nav__list {
        flex-direction: column;
    }

    .footer .nav__item + .nav__item {
        margin-left: 0;
        margin-top: 24px;
    }

    .footer .nav__link {
        font-size: 12px;
        line-height: 15px;
    }
}
