.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 20px;
}

@media (max-width: 768px) {
    .header .container{
        padding-top: 40px;
        padding-bottom: 53px;
    }
}

@media(max-width: 425px) {
    .header .container{
        padding-top: 32px;
        padding-bottom: 40px;
    }
}